<script>
export default {
  data(){
    return{
      kalenderAnzeigen: false, //Steuert die Sichtbarkeit des Kalenders
      terminGebucht: false, // Steuert die Sichtbarkeit der Erfolgsmeldung
      ausgewähltesDatum: null //Hier wird das ausgewählte Datum gespeichert
    };
  },
  methods: {
    zeigeKalender(){
      this.kalenderAnzeigen = true; //Zeige den Kalender an, wenn der Button geklickt wird
    },
    terminBuchen(){
      this.terminGebucht = true;
    }
  }
}

</script>

<template>
  <div class="about">
    <br>
    <br>
    <h1>This is the kontakt page</h1>
<br>
    <br>
    <button @click="zeigeKalender" class="button">Buchen Sie einen Termin!</button>
      <div v-if="kalenderAnzeigen">
        <input type="date" v-model="ausgewähltesDatum">
        <button @click="terminBuchen" class="button">Termin buchen</button>
      </div>
    <div v-if="terminGebucht">
      <p>Sie haben einen Termin am {{ausgewähltesDatum}} gebucht!</p>
  </div>
    </div>
</template>


<style>
// TODO: BUTTON STYLE und HOVER STYLE

.about {
  font-size: 2em;
  text-align: center;
  padding: 1em;
}
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}

</style>
