<script>
import Leistungen from "@/components/Leistungen.vue"
</script>

<template>
  <main>
    <Leistungen/>
  </main>
</template>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
<script setup>
import Leistungen from "@/components/Leistungen.vue";
</script>