<script setup>
import WelcomeItem from './WelcomeItem.vue'
import IconVerhalten from "@/components/icons/IconVerhalten.vue";
import IconTiefenpsychologie from "@/components/icons/IconTiefenpsychologie.vue";



</script>

<template>
  <WelcomeItem>
    <template #icon>
      <IconVerhalten />
    </template>
    <template #heading>Verhaltenstherapie</template>
    TEXT
  </WelcomeItem>
  <br>
  <br>
  <br>
  <WelcomeItem>
    <template #icon>
      <IconTiefenpsychologie />
    </template>
    <template #heading>Tiefentherapie</template>
    TEXT
  </WelcomeItem>

</template>