<script setup>
import WelcomeItem from './WelcomeItem.vue'
import DocumentationIcon from './icons/IconDocumentation.vue'
import IconSupport from "@/components/icons/IconSupport.vue"
import IconPersonal from "@/components/icons/IconPersonal.vue";

</script>

<template>
  <WelcomeItem>
    <template #icon>
      <DocumentationIcon />
    </template>
    <template #heading>Über uns </template>

    TEXT _ TODO

  </WelcomeItem>


  <WelcomeItem>
    <template #icon>
      <IconPersonal/>
    </template>
    <template #heading>Unser Personal</template>

    TEXT - TODO
  </WelcomeItem>

</template>